@model Banksystem.ViewModels.CustomerDetailsViewModel

<h3>Kund</h3>
Namn: @Model.Givenname @Model.Surname
<br />
Kön: @Model.Gender
<br />
Födelsedag: @Model.Birthday
<br />
Adress: @Model.Streetaddress , @Model.City , @Model.Zipcode , @Model.Country
<br />
Telefonnummer: + @Model.CountryCode  @Model.Telephonenumber
<br />
Emailadress: @Model.Emailaddress 
<br />
<h3>Konton</h3>