@model Banksystem.ViewModels.CustomerDetailsViewModel

<h3>Customer</h3>
Name: @Model.Givenname @Model.Surname
<br />
Gender: @Model.Gender
<br />
Birthday: @Model.Birthday
<br />
Adress: @Model.Streetaddress , @Model.City , @Model.Zipcode , @Model.Country
<br />
Phone: + @Model.CountryCode  @Model.Telephonenumber
<br />
Emailadress: @Model.Emailaddress
<br />
<h3>Accounts</h3>
<br />

@foreach (var account in Model.ListOfAccounts)
{
    <p>Account number: @account.AccountId </p>
    <p>Created: @account.Created </p>
    <p>Frequency:  @account.Frequency </p>
    <p>Balance: @account.Balance</p>
}

<h4>Total balace of all accounts: @Model.TotalBalance</h4>