@model Banksystem.ViewModels.AccountTransactions

@if (Model == null)
{
    <td>
        @ViewBag.Message
    </td>
}

else
{
    @foreach (var item in Model.ListOfTransactions)
    {
        <tr>
            <td>@Convert.ToDateTime(item.Date).ToShortDateString()</td>
            <td>@item.Type</td>
            <td>@item.Amount</td>
            <td>@item.Balance</td>
        </tr>
    }

}

