@model Banksystem.ViewModels.TransactionViewModel

<br />
<h2>Account @Model.AccountId</h2>
<h6>Owned by @Model.Name</h6>
<h6>Current balance: @Model.Balance SEK</h6>

<br />
<form asp-controller="Transaction" method="post" asp-action="TransferMoney" asp-for="TransferMoney">

    <div class="form-group w-50">
        <label>Operation</label>
        <select class="form-control" id="selectedOperation" asp-items="@Model.OperationList" asp-for="ChosenOperation"></select>
        <span class="text-danger" asp-validation-for="ChosenOperation"></span>
    </div>

    <div class="form-group w-25">
        <label>Enter an amount</label>
        <input id="amountSelection" class="form-control" type="text" asp-for="TransferAmount" />
        <span class="text-danger" asp-validation-for="TransferAmount"></span>
    </div>

    <label id="receivingAccountLabel">Enter receiving account number</label>
    <input class="form-control w-25" id="receivingAccount" type="hidden" asp-for="ReceivingAccount" />
    <span class="text-danger" asp-validation-for="ReceivingAccount"></span>

    <br />

    <input type="submit" value="Carry out" class="btn btn-primary" id="btnn" />
    <input type="hidden" asp-for="AccountId" value=@Model.AccountId>
    <input type="hidden" asp-for="Balance" value=@Model.Balance>
    <input type="hidden" asp-for="Name" value=@Model.Name>

    <a class="btn btn-primary" asp-route-id="@Model.CustomerId" asp-controller="Customer" asp-action="CustomerDetails">Back to Details</a>


</form>

<br />
<h5>@ViewBag.Message</h5>

<script>
    $(document).ready(function () {
        $('#receivingAccountLabel').hide()
        $("#amountSelection").val("");
        $("#receivingAccount").val("");
        $("#selectedOperation").val("");
        $('#selectedOperation').on("change", function () {
            let operationValue = $('#selectedOperation').val();

            if (operationValue == "Transfer") {
                $('#receivingAccount').attr("type", "")
                $('#receivingAccountLabel').show()
            }
            else {
                $('#receivingAccount').attr("type", "hidden")
                $('#receivingAccountLabel').hide()
            }
        });
    });

</script>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

